{% extends 'index.html' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>课表</p>
        </div>
        <table class="table">
            <tr>
                <th>星期一</th>
                <th>星期二</th>
                <th>星期三</th>
                <th>星期四</th>
                <th>星期五</th>
            </tr>
            <tr>
                <th></th>
                <th>数学分析</th>
                <th>数学分析</th>
                <th></th>
                <th>高等代数</th>
            </tr>
            <tr>
                <th>大学语文</th>
                <th></th>
                <th>体育</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>大学物理</th>
                <th></th>
                <th>数学建模与实验</th>
                <th></th>
                <th>离散数学</th>
            </tr>
            <tr>
                <th></th>
                <th>高等代数</th>
                <th>大学物理</th>
                <th>离散数学</th>
                <th>体育</th>
            </tr>
        </table>
    </div>
{% endblock content %}
